__pycache__
events.out.tfevents
.DS_Store

*.o*
output/
/data/train_data

/checkpoint 

/output 

/__pycache__
__pycache__/

/venv

/manuscript

*.pyc
*.ckpt
*.log

events.out.*

*.egg-info*
*.pdf
*.pkl
*.pckl
